<div class="show-view-container">
  <div>

    <% if @pin.image.exists?(:large) %>
    <%= image_tag @pin.image.url(:large), class: "img-responsive"%>
    <% else %>
    <%= image_tag @pin.image.url(:medium), class: "img-responsive" %>
    <% end %>

  </div>
  <div>
    <p class="pin-description"><%= @pin.description %></p>
    <p class="user"><span class="glyphicon glyphicon-user"></span> <strong><%= @pin.user.name if @pin.user %></strong></p>
    <div class="pin-actions">
      <% if @pin.user == current_user %>
       <%= link_to edit_pin_path(@pin) do %>
        <span class="glyphicon glyphicon-pencil"></span> Edit
       <%end%>
      <% end %>
    </div>
  </div>
</div>

<br>
<%= link_to 'Back', pins_path, class: "glyphicon glyphicon-chevron-left btn btn-primary" %>