<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<% if user_signed_in? %>
		<%= render "layouts/header" %>
	<% end %>

	<div class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>
		<%= yield %>
		
		<% unless user_signed_in? %>
			<style>#pins {-webkit-filter: blur(8px);
							filter: blur(8px);}</style>
		<% end %>
	</div>
</body>
</html>
